@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-primary-500: hsl(171, 66%, 44%);
  --color-primary-500-border: hsl(171, 66%, 37%);
  --color-primary-500-shadow: hsla(171, 66%, 37%, 0.5);
  --color-primary-100: hsl(233, 100%, 69%);
  --color-primary-100-border: hsl(233, 100%, 65%);
  --color-primary-100-shadow: hsla(233, 100%, 69%, 0.5);

  --color-neutral-700: hsl(210, 10%, 33%);
  --color-neutral-500: hsl(201, 11%, 66%);
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@layer base {
  body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
    color: var(--color-neutral-500);
    background-color: var(--white);
  }

  h1,
  h2,
  h3 {
    color: var(--heading-fc, var(--color-neutral-700));
    font-weight: var(--heading-fw, 600);
    font-size: var(--heading-fs);
    margin-bottom: var(--heading-mb);
    line-height: var(--lh-tight);
    text-wrap: balance;
  }

  span {
    display: var(--span-display, inline);
    color: var(--span-fc, var(--black));
    font-size: var(--span-fs, inherit);
    font-style: var(--span-style, normal);
    font-weight: 400;
  }

  p {
    color: var(--p-fc, inherit);
    font-size: var(--p-fs);
    line-height: var(--p-lh, var(--lh-normal));
    margin-bottom: var(--p-mb);
  }
}

@layer layout {
  .page {
    text-align: center;
  }

  /* HERO / HEADER */
  .hero {
    position: relative;
    padding: var(--space-2xl);
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      position: absolute;
      background-size: contain;

      top: 0;

      img {
        width: 100%;
      }
    }
  }

  .hero__logo {
    width: 100%;
    margin-bottom: var(--space-xl);
  }

  .hero__title {
    --heading-fs: var(--fs-3xl);
    --heading-mb: var(--space-lg);
  }

  .hero__text {
    --p-fs: var(--fs-lg);
    max-width: 70rem;
  }

  .cta-group {
    margin-top: var(--space-xl);

    display: flex;
    gap: var(--space-md);
    align-items: center;

    @media (width < 600px) {
      width: 100%;

      flex-direction: column;
    }
  }

  .btn--primary {
    cursor: pointer;
    padding: var(--btn-padding);
    letter-spacing: 1px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--white);
    background-color: var(--color-primary-500);
    border-bottom: 3px solid var(--color-primary-500-border);
    border-radius: var(--radius-full);
    box-shadow: 0 10px 30px -5px var(--color-primary-500-shadow);
    transition: opacity var(--duration-md) ease;

    @media (width < 600px) {
      width: 100%;
    }
  }

  .btn--secondary {
    cursor: pointer;
    padding: var(--btn-padding);
    letter-spacing: 1px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--white);
    background-color: var(--color-primary-100);
    border-bottom: 3px solid var(--color-primary-100-border);
    border-radius: var(--radius-full);
    box-shadow: 0 10px 30px -5px var(--color-primary-100-shadow);
    transition: opacity var(--duration-md) ease;

    @media (width < 600px) {
      width: 100%;
    }
  }

  .btn--primary:hover,
  .btn--secondary:hover {
    opacity: 0.8;
  }

  /* FEATURES */

  main > * {
    padding: var(--sect-pd);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .features__out {
    padding: var(--space-2xl);
  }

  .features__title,
  .access__title,
  .advantages__title,
  .download__title {
    --heading-fs: var(--fs-2xl);
    --heading-mb: var(--space-lg);
  }

  .features__text,
  .access__text,
  .advantages__text,
  .download__text {
    max-width: 70rem;
    margin: 0 auto;
  }

  .features__inner {
    width: 100%;
    padding: var(--space-lg);
    text-align: left;

    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: minmax(0, var(--space-2xl));

    img {
      width: 100%;
      margin-left: -9rem;

      @media (width < 600px) {
        margin: 0 0 var(--space-2xl);
      }
    }

    @media (width < 768px) {
      grid-template-columns: 1fr;
    }
  }

  .features__inner__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--space-md);

    @media (width < 600px) {
      align-items: center;
      text-align: center;
    }
  }

  .features__inner__card {
    padding: var(--space-md);
  }

  .card__title {
    --heading-fs: var(--fs-lead);
    --heading-mb: var(--space-sm);
  }

  .card__text {
    --p-fs: var(--fs-sm);
    max-width: 35rem;
  }

  /* ACCESS */

  .access {
    --sect-pd: var(--space-2xl);

    img {
      width: 60%;
      margin: var(--space-2xl) 0;

      @media (width < 600px) {
        width: 100%;
      }
    }
  }

  /* ADVANTAGES */

  .advantages {
    --sect-pd: var(--space-2xl);
  }
  .advantages__cards {
    padding: var(--space-2xl) 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .advantages__card {
    padding: var(--space-md);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__img {
    min-width: 5rem;
    min-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* CLIENTS */

  .clients {
    --sect-pd: 0 var(--space-2xl);

    flex-direction: row;
    flex-wrap: wrap;

    img {
      padding: var(--space-md);
    }
  }

  /* DOWNLOAD */

  .download {
    --sect-pd: var(--space-2xl);
  }

  /* FOOTER */

  .footer {
    padding: var(--space-2xl);
    background-color: var(--gray-100);
    color: var(--color-neutral-700);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__inner {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-lg);

    @media (width < 600px) {
      flex-direction: column;
    }
  }

  .footer__img {
    width: 8rem;
  }

  .footer__list {
    max-width: 35rem;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-lg);

    

    @media (width < 600px) {
      flex-direction: column;
    }
  }
  
  .social__list {
    max-width: 35rem;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: var(--space-lg);

    img {
      min-width: 3rem;
    }
  }
    
}
